extends layout

block content
    <main>

        <!-- jumbotron container -->
        <div class="container">
            <div class="jumbotron startpagejumbotron mt-5">
                <h1 class="display-4">Mumsik!</h1>
                <p class="lead">Här mumsar du läcker musik</p>
                <p>Vi har ett brett utbud av LP-skivor, i både gamla och nya smaker.</p>
                <p class="lead">Välkommen in och låt er väl smaka!</p>
            </div>
        </div>
        <!-- slut jumbotron container -->


        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <h3 class="card-header">Nyhet</h3>
                        <div class="card-block">
                            <h4 class="card-title">Nu blir det lättare att hitta</h4>
                            <p class="card-text">Vi har förbättrat vår sökfunktion på sidan så nu hittar du ännu fler mumsiga skivor.</p>
                            <a href="#" class="btn btn-primary">Läs mer</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <h3 class="card-header">Senast inkommet</h3>
                            <div class="card-block">
                                <img class="card-img-left" src="assets/images/Spikey_DeepBlueSomething_MG_7154.jpg" alt="Card image"> 
                                <h4 class="card-title">Spikey</h4>
                                <p class="card-text">En helt ny musik stil där allt sätts på sin spets.</p>
                                <a href="#" class="btn btn-primary">Läs mer</a>
                            </div>
                        </div>
                </div>
            </div> <!-- row -->
        </div><!-- /.container -->
    </main>