/*
==========================================================================
This CSS is only for prototyping of site, do not use!!!!
==========================================================================
*/


/*
==========================================================================
Main structure
========================================================================== 
*/
body {
    padding-top: 5rem;
    font-family: 'Noto Sans', sans-serif;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}


.my-icon {
    width: 1rem;
    height: 1rem;
}

