/*
==========================================================================
This CSS is only for prototyping of site, do not use!!!!
==========================================================================
*/


/*
==========================================================================
Main structure
========================================================================== 
*/
body {
    font-family: 'Noto Sans', sans-serif;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
    bottom: 3rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
    background-color: #777;
}

    .carousel-item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 32rem;
    }

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}


.my-icon {
    width: 1rem;
    height: 1rem;
}

.startpagejumbotron {
    text-align: center;
    margin-bottom: 0.5rem !important;
    background-image: url(../images/LP_Grafik_HalvLogga.svg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    background-color: #F75F0B;
}


/* Custom page footer */
footer {
    background-color: #292b2c !important;
    color: #ffffff;
    border-top: .05rem solid #7DA73E;
    border-bottom: .05rem solid #7DA73E;
}

.footer-text {
   
}

.card-img {
    width:10rem;
    height:10rem;
    
}


.card-img-left {
    border-bottom-left-radius: calc(.25rem - 1px);
    border-top-left-radius: calc(.25rem - 1px);
    float: left;
    padding-right: 1em;
    width: 10rem;
    height: 10rem;
}



