/*
==========================================================================
This CSS is only for prototyping of site, do not use!!!!
==========================================================================
*/


/*
==========================================================================
Main structure
========================================================================== 
*/
body {
    font-family: 'Noto Sans', sans-serif !important;
    padding-top: 3rem;
    padding-bottom: 3rem;
    /* color: #5a5a5a; */
   background-color:#6F2D08;
}

/* My Own Icons */

.my-icon {
    width: 1rem;
    height: 1rem;
}

/* End my own icons */

/* Custom jumbotron */

.startpagejumbotron {
    text-align: center;
    margin-bottom: 0.5rem !important;
    background-image: url(../images/LP_Grafik_HalvLoggaNoName.svg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    background-color: #F75F0B;
}

/* End custom jumbotron */

/* Custom global navbar */

.navbar-inverse .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(247, 95, 11, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.bg-inverse {
    background-color: #562104 !important;
}

.navbar-inverse .navbar-nav .nav-link {
    color: #f75f0b;
}

.navbar-brand {
    padding:0;
}

/* End custom global navbar */
/* Custom page footer */
footer {
    background-color: #562104 !important;
    color: #ffffff;
}

/* End custom page footer */


/* Custom cards */

.card-img {
    width: 10rem;
    height: 10rem;

}
.card-img-left {
    border-bottom-left-radius: calc(.25rem - 1px);
    border-top-left-radius: calc(.25rem - 1px);
    float: left;
    padding-right: 1em;
    width: 10rem;
    height: 10rem;
}

.card-img-top {
    width: 256px;
    height: 256px;
}

.card {
    border: none;
    background-color: #6F2D08;
    color: white;
}

.card-block-products {
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.breadcrumb {
    background-color: transparent;
    font-size: 0.8rem;
}

.card-img-locationmap {
    max-width: 100%;
}

.card-header {
    background-color: #A25E38;
    color:white;
}


/* End custom cards */

/* My own banner */

.banner-img {
    width: 20rem;
    height: 10rem;
    background-color: white;
    border-radius: 0.3rem;
    border-color: #292b2c !important;
    border: solid;
    border-width: 1px;
}

.banner-img-small {
    width: 15rem;
    height: 10rem;
    background-color: white;
    border-radius: 0.3rem;
    border-color: #292b2c !important;
    border: solid;
    border-width: 1px;
}

.banner-img:hover {
    border-color: #f75f0b !important;
    border-width: 3px;
}

/* End my own banner */



/* Custom buttons */

.btn-outline-success {
    color: #f75f0b !important; /* Orange */
    border-color: #f75f0b !important;
}

    .btn-outline-success:hover {
        color: white !important;
        background-color: #f75f0b;
        border-color: #419641;
    }

.btn-primary {
    color: #fff;
    background-color: #f75f0b;
    border-color: #f75f0b;
}

.btn-primary:hover {
    color: #fff;
    background-color: #d34e05;
    border-color: #d34e05;
}

.btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #d34e05;
    background-image: none;
    border-color: #d34e05;
}

.btn-primary:focus, .btn-primary.focus {
    -webkit-box-shadow: 0 0 0 2px rgba(211, 78, 5, 0.5) !important;
    box-shadow: 0 0 0 2px rgba(211, 78, 5, 0.5) !important;
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: #0275d8;
    border-color: #0275d8;
}

/* End custom buttons */

/* Custom breadcrums */

.breadcrumb-item {
    color: #f75f0b;
    
}

/* End custom breadcrums */

.card-img-locationmap {
    background-color: white;
    border-radius: 0.3rem;
}


/* Custom map image */

/* Custom table */
td, th {
    color:white;
}

.table-hover thead tr:hover th, .table-hover tbody tr:hover td  {
    background-color: #562104 !important;
}

/* End custom table*/

/* Custom links */

a {
    color: #f75f0b;
}

/* End custom links*/

/* Custom dopdown item */

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #f75f0b;
}

/* End custom dopdown item */