/*
==========================================================================
This CSS is only for prototyping of site, do not use!!!!
==========================================================================
*/


/*
==========================================================================
Main structure
========================================================================== 
*/
body {
    margin: 0rem; /* 1 rem = 10px */
    font-family: 'Noto Sans', sans-serif;
}


.my-icon {
    width: 1rem;
    height: 1rem;
}

